[Unit]
Description=Qurlew

[Service]
User=qurlew
Group=qurlew
ExecStart=/bin/sh -c "nc -klU /var/run/qurlew/socket | /usr/bin/qurlew --url http://www.github.com/qurlew"

[Install]
WantedBy=multi-user.target
