[Unit]
Description=Qurlew

[Service]
ExecStart=/bin/sh -c "nc -klU /var/run/qurlew.socket | /usr/bin/qurlew --url http://www.github.com/qurlew"

[Install]
WantedBy=multi-user.target
